name: Manual Trigger with Latest Git Tag

on:
  workflow_dispatch:  # Allows manual execution

env:
  IMAGE_NAME: ghusta/fakesmtp
  ENABLE_QEMU: 1

jobs:
  get-latest-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Ensures all tags are fetched

      - name: Get Latest Git Tag
        id: fetch-latest-tag
        run: |
          LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "Latest tag: $LATEST_TAG"
          echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_ENV  # Set as env variable
          echo "latest-tag=$LATEST_TAG" >> $GITHUB_OUTPUT

      - name: Display Latest Tag
        run: |
          echo "The latest Git tag is ${{ steps.fetch-latest-tag.outputs.latest-tag }}"

  docker-build-test:
    needs: [ get-latest-tag ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Ensures all tags are fetched

      - name: Get Latest Git Tag
        id: fetch-latest-tag
        run: |
          LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "Latest tag: $LATEST_TAG"
          echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_ENV  # Set as env variable
          echo "latest-tag=$LATEST_TAG" >> $GITHUB_OUTPUT

      - # Add support for more platforms with QEMU (optional)
        # https://github.com/marketplace/actions/docker-setup-qemu
        name: Set up QEMU
        if: ${{ env.ENABLE_QEMU == '1' }}
        uses: docker/setup-qemu-action@v3

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      # Extract metadata (tags, labels) for Docker
      # https://github.com/marketplace/actions/docker-metadata-action
      - name: Extract Docker metadata / suffix jre21
        id: meta-jre21
        uses: docker/metadata-action@v5
        env:
          TAG_SUFFIX: '-jre21'
          IS_LATEST: 'true'  # Set to 'false' if this should not be latest
        with:
          images: ${{ env.IMAGE_NAME }}
          flavor: |
            latest=${{ env.IS_LATEST }}
          tags: |
            # semver-only tags
            type=semver,pattern={{version}},enable=${{ env.IS_LATEST }},value=${{ env.LATEST_TAG }}
            type=semver,pattern={{version}},suffix=${{ env.TAG_SUFFIX }},value=${{ env.LATEST_TAG }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ env.IS_LATEST }},value=${{ env.LATEST_TAG }}
            type=semver,pattern={{major}}.{{minor}},suffix=${{ env.TAG_SUFFIX }},value=${{ env.LATEST_TAG }}

      - name: Display tags generated
        run: |
          echo "Tags are : ${{ steps.meta-jre21.outputs.tags }}"

      # Extract metadata (tags, labels) for Docker
      # https://github.com/marketplace/actions/docker-metadata-action
      - name: Extract Docker metadata / suffix jre17
        id: meta-jre17
        uses: docker/metadata-action@v5
        env:
          TAG_SUFFIX: '-jre17'
          IS_LATEST: 'false'
        with:
          images: ${{ env.IMAGE_NAME }}
          flavor: |
            latest=${{ env.IS_LATEST }}
          tags: |
            # semver-only tags
            type=semver,pattern={{version}},enable=${{ env.IS_LATEST }},value=${{ env.LATEST_TAG }}
            type=semver,pattern={{version}},suffix=${{ env.TAG_SUFFIX }},value=${{ env.LATEST_TAG }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ env.IS_LATEST }},value=${{ env.LATEST_TAG }}
            type=semver,pattern={{major}}.{{minor}},suffix=${{ env.TAG_SUFFIX }},value=${{ env.LATEST_TAG }}

      - name: Display tags generated
        run: |
          echo "Tags are : ${{ steps.meta-jre17.outputs.tags }}"
